<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Jobb</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.35.1">
          <name>BuildVal</name>
          <description></description>
          <defaultSelector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <hudson.model.StringParameterDefinition>
          <name>PROMOTED_BUILD_NUMBER</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.35.1">
      <project>${Jobb}</project>
      <filter></filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BuildVal</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>mvn deploy:deploy-file \
-DgroupId=se.omegapoint \
-DartifactId=cicd-lab-backend \
-Dversion=1.0.${PROMOTED_BUILD_NUMBER} \
-Dpackaging=jar \
-Dfile=target/cicd-lab-backend-1.0.${PROMOTED_BUILD_NUMBER}.jar \
-DrepositoryId=deployment \
-Durl=http://192.168.33.10:8081/nexus/content/repositories/releases \
--settings=/var/lib/jenkins/.m2/settings.xml</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger plugin="build-pipeline-plugin@1.4.7">
      <configs>
        <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters plugin="parameterized-trigger@2.26">
          <properties>artifact_version=${PROMOTED_BUILD_NUMBER}</properties>
        </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
      </configs>
      <downstreamProjectNames>Set_released_version</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
  </publishers>
  <buildWrappers/>
</project>